@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --primary: rgb(53, 109, 230);
  --primaryDark: #0d44bb;
  --niceWhite: #eee;
  --grey: grey;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
html {
  font-size: 100%;
}
body {
  width: 100%;
  min-height: 200vh;
  background-color: var(--niceWhite);
}
@media (min-width: 47.9em) { /* 768px */
  .global__hide-for-desktop {
    display: none !important;
  }
}
@media (max-width: 48.1em) { /* 768px */
  .global__hide-for-mobile {
    display: none !important;
  }
}