header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: var(--niceWhite);
  width: 100%;
  padding: 0.7rem 1rem;
  border-bottom: 1px solid var(--primary);
}
.header__main {
  display: flex;
  align-items: center;
}
.header__logo {
  color: var(--primary);
  text-transform: uppercase;
  margin-right: 1.2rem;
}
.header__logo small {
  font-size: 0.9rem;
  margin-left: 3px;
  color: var(--grey);
}
.header__desktop-menu ul {
  display: flex;
  font-weight: 300;
  list-style: none;
}
.header__desktop-menu ul li:not(:last-child) {
  margin-right: 0.8rem;
}
.header__desktop-menu ul li a {

  text-decoration: none;
  color: var(--primary);
  transition: 500ms ease-in-out;
}
.header__desktop-menu ul li a:hover {
  color: var(--primaryDark);
  border-bottom: 1px solid var(--primaryDark);
}
.header__secondary {
  display: flex;
  align-items: center;
}
.header__button a {
  color: var(--niceWhite);
  background-color: var(--primary);
  padding: 0.4rem 1rem;
  border-radius: 100px;
  text-decoration: none;
  margin-right: 0.5rem;
  transition: color 300ms ease-in-out,
              background-color 300ms ease-in-out;
  border: 1px solid transparent;
  font-size: 0.9rem!important;
}
.header__button a:hover {
  color: var(--primary);
  background-color: var(--niceWhite);
  border: 1px solid var(--primaryDark);
}
.header__desktop-search {
  width: 15rem;
}
.header__desktop-search form {
  display: flex;
  align-items: center;
}
.header__desktop-search input {
  position: relative;
  width: 100%;
  padding: 0.4rem 0.7rem;
  padding-right: 1.6rem;
  border-radius: 100px;
  outline: none;
  border: 1px solid #555;
  margin-right: 0.5rem;
  background-color: rgb(219, 219, 219);
}
.header__desktop-search button {
  position: absolute;
  right: 1.9rem;
  background: none;
  border: none;
}
.header__toggle-menu {
  display: block;
  width: 30px;
}
.header__toggle-menu span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: var(--primary);
}
.header__toggle-menu span:not(:last-child) {
  margin-bottom: 5px;
}
.header__mobile-menu {
  display: none;
}
@media (min-width: 85.375em) {
  .dropdown-btn {
    display: none!important;
  }
}
@media (max-width: 85.375em) {
  .links {
    display: none!important;
  }
  .dropdown:hover .dropdown-btn a{
    border: none;
  }
  .dropdown:hover .links {
    box-sizing: content-box;
    display: block !important;
    position: absolute;
    background-color: var(--niceWhite);
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary);
    border-radius: 5px;
  }
  .dropdown:hover .links li:not(:last-child) {
    margin-bottom: 5px;
  }
  
}